/*
Name: Multiplicar Brasil - Cotação
URI: http://multiplicarbrasil.com.br/
Author: Basic
Author URI: http://www.basic.com.br/
Description: Sistema de Cotação da Multiplicar Brasil


Version: 1.0

*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Import
# Animation
# Typography
# Header

--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css');

/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}


/* The starting CSS styles for the enter animation */

.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}


/* The finishing CSS styles for the enter animation */

.ng-enter.ng-enter-active {
  opacity: 1;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body {
  font-size: 16px;
  line-height: 1.5;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
  min-height: 100px;
  background-color: #1a4783;
  padding-top: 16px;
  color: white;
}

.header__contato {
  padding-top: 23px;
}

@media(max-width:48.000em) {
  .header .pull-right {
    float: none!important;
  }
}

.header span {
  font-size: 0.875em;
}

@media(min-width:27.625em) {
  .header span {
    float: right;
  }
}

.header .header_contato_tel {
  color: #41c4ec;
  font-size: 1.375em;
  border: solid;
  border-radius: 3px;
  padding: 9px 16px;
  margin-right: 20px;
  float: none;
}