/*
Name: Multiplicar Brasil - Cotação
URI: http://multiplicarbrasil.com.br/
Author: Basic
Author URI: http://www.basic.com.br/
Description: Sistema de Cotação da Multiplicar Brasil


Version: 1.0

*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Import
# Animation
# Typography
# Header
# Footer
# Content
# Cotação
# Forms
  ## Passo a Passo Form

--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');

/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}


/* The starting CSS styles for the enter animation */

.ng-enter {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}


/* The finishing CSS styles for the enter animation */

.ng-enter.ng-enter-active {
  opacity: 1;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #41c4ec;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
  min-height: 100px;
  background-color: #1a4783;
  padding-top: 16px;
  color: white;
}

.header__contato {
  padding-top: 23px;
}

@media(max-width:48.000em) {
  .header .pull-right {
    float: none!important;
  }
}

.header span {
  font-size: 0.875em;
}

@media(min-width:27.625em) {
  .header span {
    float: right;
  }
}

.header .header_contato_tel {
  color: #41c4ec;
  font-size: 1.375em;
  border: solid;
  border-radius: 3px;
  padding: 9px 16px;
  margin-right: 20px;
  float: none;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
  min-height: 60px;
  background-color: #00142f;
  color: white;
  padding-top: 23px;
  padding-bottom: 23px;
}

.footer span {
  color: #41c4ec;
}


/*--------------------------------------------------------------
# Comntent
--------------------------------------------------------------*/

.bg__azul {
  background: #1a4783 url('../img/bg.png') repeat;
  min-height: 82vh;
  color: white;
}

.title {
  font-size: 3.125em;
  color: white;
  font-weight: bold;
  margin-top: 89px;
  margin-bottom: 0;
}

.title span {
  color: #41c4ec;
}

.subtitulo {
  font-size: 1.250em;
}


/*--------------------------------------------------------------
# Cotação
--------------------------------------------------------------*/

.contacao__header {
  padding-bottom: 30px;
  padding-top: 50px;
}

.contacao__header p {
  font-size: 1.250em;
}

.contacao__header p span {
  color: #41c4ec;
}

@media(max-width:48.000em) {
  .contacao__header .btn-info {
    margin-top: 30px;
  }
}

@media(min-width:48.000em) {
  .contacao__header .btn-info {
    float: right
  }
}

.cotacoes {
  border-radius: 3px;
  border: solid thin #dbdbdc;
}

@media(min-width:75.000em) {
  .cotacoes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.cotacao__single {
  padding: 48px 0 54px 50px;
  display: inline-block;
  min-height: 403px;
}

.cotacao__single>div {
  padding-right: 50px;
}

@media(max-width:48.000em) {
  .cotacao__single {
    width: 100%;
  }
  .cotacao__single {
    border-bottom: dotted 2px #e5e5e5;
  }
}

@media(min-width:48.000em) {
  .cotacao__single>div {
    border-right: dotted 2px #e5e5e5;
  }
}

.cotacao__single:last-child>div {
  border: none
}

.cotacao__single h2 {
  color: #41434c;
  font-size: 1.250em;
  margin-top: 0;
  margin-bottom: 15px;
}

.cotacao__single h3 {
  color: #82ca70;
  font-size: 1.625em;
  margin-top: 0;
  margin-bottom: 20px;
}

.cotacao__assistencia {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cotacao__assistencia li {
  color: #41434c;
  margin-bottom: 25px;
}

.cotacao__detalhes {
  background-color: #fdfdfe;
}

.cotacao__detalhes p {
  padding-top: 25px;
  padding-bottom: 22px;
  text-align: center
}

@media(min-width:48.000em) {
  .cotacao__detalhes .col-sm-4:first-child p {
    padding-left: 50px;
  }
}


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Passo a Passo Form
--------------------------------------------------------------*/

.form__passo {
  margin-top: 100px;
}

.form__passo .control-label {
  width: 100%;
  font-size: 1.875em;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0;
}

.form__passo .form-control {
  border: none;
  border-bottom: solid 7px #12386a;
  height: 94px;
  font-size: 2.500em;
}

.form__passo .form-control:focus {
  box-shadow: none;
}

.form__passo .input-group-addon {
  background-color: #41c4ec;
  border: none;
  border-bottom: solid 7px #12386a;
}

.form__passo .input-group-addon:hover {
  opacity: 0.9;
}

.form__passo .input-group-addon button {
  background: transparent;
  border: none;
  font-size: 2.500em;
  color: #1a4783;
}

.form__passo .input-group-addon button:focus {
  outline: none;
}

.form__passo .help-block {
  font-size: 1.125em;
  color: white;
  margin-top: 30px;
}