<div class="container">
  <div class="row contacao__header">
    <div class="col-sm-8">
      <p> Aqui está a cotação para seu <strong ng-bind="main.usuario.modelo"></strong> <br> Avaliado em <span ng-bind="main.usuario.preco"></span>        segundo a tabela FIPE</p>
    </div>
    <!--col-sm-8-->

    <div class="col-sm-4">
      <button type="button" class="btn btn-lg btn-info"><i class="fa fa-envelope" aria-hidden="true"></i> Enviar Por E-mail</button>
    </div>
    <!--col-sm-4-->
  </div>
  <!--row-->

  <div class="row">
    <div class="col-xs-12">
      <section class="cotacoes">
        <div class="cotacao__single">
          <div>
            <h2><strong>Plano Básico</strong></h2>
            <h3><strong>R$ 29,00</strong></h3>

            <ul class="cotacao__assistencia">
              <li>13 Assistências</li>
              <li>-</li>
              <li>-</li>
              <li>-</li>
              <li>-</li>
            </ul>
          </div>
        </div>
        <!--cotacao__single-->

        <div class="cotacao__single">
          <div>
            <h2><strong>Plano Bronze</strong></h2>
            <h3><strong>R$ 29,00</strong></h3>

            <ul class="cotacao__assistencia">
              <li>13 Assistências</li>
              <li>6 Coberturas</li>
              <li>300 Km Reboque</li>
              <li>-</li>
              <li>-</li>
            </ul>
          </div>
        </div>
        <!--cotacao__single-->

        <div class="cotacao__single">
          <div>
            <h2><strong>Plano Prata</strong></h2>
            <h3><strong>R$ 29,00</strong></h3>

            <ul class="cotacao__assistencia">
              <li>13 Assistências</li>
              <li>6 Coberturas</li>
              <li>1.000 Km Reboque</li>
              <li>-</li>
              <li>-</li>
            </ul>
          </div>
        </div>
        <!--cotacao__single-->

        <div class="cotacao__single">
          <div>
            <h2><strong>Plano Ouro</strong></h2>
            <h3><strong>R$ 29,00</strong></h3>

            <ul class="cotacao__assistencia">
              <li>13 Assistências</li>
              <li>6 Coberturas</li>
              <li>1.000 Km Reboque</li>
              <li>7 dias de carro reserva</li>
              <li>Faróis, lanternas, vidros <br>e retrovisores</li>
            </ul>
          </div>
        </div>
        <!--cotacao__single-->

      </section>
      <div class="cotacao__detalhes row">
        <div class="col-sm-4">
          <p><img src="img/coin.png" alt="icone"> Adesão <strong>R$000,00</strong></p>
        </div>
        <!--col-sm-4-->

        <div class="col-sm-4">
          <p><img src="img/car.png" alt="icone"> Franquia do carro <strong>X%</strong> valor da FIPE</p>
        </div>
        <!--col-sm-4-->

        <div class="col-sm-4">
          <p><img src="img/rss.png" alt="icone"> <strong>Rastreador</strong></p>
        </div>
        <!--col-sm-4-->

      </div>
      <!--cotacao__detalhes-->
    </div>
    <!--col-xs-12-->
  </div>
  <!--row-->
</div>
<!--container-->