<section class="bg__azul placa">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="title">Faça uma cotação online em 5 segundos</h1>
        <p class="subtitulo">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      </div>
      <!--col-xs-12-->
    </div>
    <!--row-->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form class="form__passo" name="formPasso" ng-hide="placa.carregando">
          <div class="form-group">
            <label class="control-label text-center" for="placa">Informe a placa do veículo</label>
            <div class="input-group">
              <input class="form-control input-lg" name="placa" ng-model="placa.placa" type="text" maxlength="7" required>
              <div class="input-group-addon">
                <button ng-click="placa.GetDadosRequisicao()" ng-disabled="formPasso.$invalid" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
              </div>
              <!--input-group-addon-->
            </div>
            <!--input-group-->
            <div class="checkbox">
              <label>
                <input ng-model="placa.isUber" type="checkbox"> Seu carro é Uber?
              </label>
            </div>
            <span class="help-block text-center">Depois de preencher, tecle <strong>Enter</strong> para continuar.</span>
          </div>
          <!--form-group-->
        </form>
        <div class="loader" ng-show="placa.carregando"></div>
      </div>
      <!--col-sm-8 col-sm-offset-2-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--bg__azul-->