<section class="bg__azul">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="title">Faça uma cotação online em 5 segundos</h1>
        <p class="subtitulo">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      </div>
      <!--col-xs-12-->
    </div>
    <!--row-->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form class="form__passo" name="formPasso">
          <div class="form-group">
            <label class="control-label text-center" for="placa">Informe a placa do veículo</label>
            <div class="input-group">
              <input type="text" class="form-control input-lg" name="placa" ng-model="main.placa" mask="%%%9999">
              <div class="input-group-addon">
                <button type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
              </div>
              <!--input-group-addon-->
            </div>
            <!--input-group-->
            <span class="help-block text-center">Depois de preencher, tecle <strong>Enter</strong> para continuar.</span>
          </div>
          <!--form-group-->
        </form>
      </div>
      <!--col-sm-8 col-sm-offset-2-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--bg__azul-->