<label class="control-label text-center" for="placa">
  <span>Informe o tipo do seu veículo</span> 
</label>
<p class="text-center">
  <button class="btn btn-primary btn-lg btn-carro" ng-click="placa.veiculo = 'carros'; placa.fipePasso = 'passo2'" type="button">
    <i class="fa fa-car" aria-hidden="true"></i> Carro</button>
  <button class="btn btn-primary btn-lg btn-moto" ng-click="placa.veiculo = 'motos'; placa.fipePasso = 'passo2'" type="button"><i class="fa fa-motorcycle" aria-hidden="true"></i> Moto</button>
  <span class="text-center" style="margin-top: 46px; display:block">
    Taxi e uber fazem parte de uma tablea especial
  </span>

</p>