<form name="formFipe">
  <label class="control-label text-center" for="placa">
    <span>Qual é o ano?</span>
  </label>
  <div class="input-group">
    <select class="form-control input-lg" name="modelo" ng-model="placa.anoEscolhido">
      <option value="">Selecione um ano</option>
      <!-- not selected / blank option -->
      <option ng-repeat="item in placa.listaAnos | orderBy: 'ano' track by $index " value="{{::item}}" required>{{::item.ano}}</option>
    </select>

    <div class="input-group-addon">
      <button ng-click="placa.fipePasso = 'passo5'" ng-disabled="!placa.anoEscolhido" type="submit">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
    <!--input-group-addon-->
  </div>
  <!--input-group-->
</form>