<form name="formFipe">
  <label class="control-label text-center" for="placa">
    <span>Seu veículo é taxi ou uber?</span>
  </label>
  <p class="text-center uber__buttons">
    <button class="btn btn-default btn-lg" ng-click="placa.isUber = true;placa.GetPreco()" type="button">Sim</button>
    <button class="btn btn-default btn-lg" ng-click="placa.isUber = false;placa.GetPreco()" type="button">Não</button>
  </p>
  <span class="text-center" style="margin-top: 46px; display:block">
      Taxi e uber fazem parte de uma tablea especial
  </span>

</form>