/*
Name: Multiplicar Brasil - Cotação
URI: http://multiplicarbrasil.com.br/
Author: Basic
Author URI: http://www.basic.com.br/
Description: Sistema de Cotação da Multiplicar Brasil


Version: 1.0

*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Import
# Ajustes
# Animation
# Typography
# Header
# Footer
# Content
# Cotação
  ## Coberturas
  ## Assistencia
  ## Capemisa
# Forms
  ## Passo a Passo Form

--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/2.1.0/toaster.min.css');

/*--------------------------------------------------------------
# Ajustes
--------------------------------------------------------------*/

#toast-container>div {
  opacity: 1;
}

@media(min-width:47.938em) {
  .table-responsive {
    margin-top: 10px;
  }
}

.placa .checkbox input[type=checkbox],
.placa .checkbox-inline input[type=checkbox],
.placa .radio input[type=radio],
.placa .radio-inline input[type=radio] {
  height: 30px;
  margin-left: -40px;
  top: -2px;
  width: 30px;
}

.placa .checkbox label,
.placa .radio label {
  font-size: 1.5em;
  padding-left: 40px;
}


/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}


/* The starting CSS styles for the enter animation */

.ng-enter {
  opacity: 0;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}


/* The finishing CSS styles for the enter animation */

.ng-enter.ng-enter-active {
  opacity: 1;
}

.loader {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  /* Blue */
  border-radius: 50%;
  /* Light grey */
  border-top: 16px solid #41c4ec;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 120px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader.ng-hide {
  display: none;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
  background-color: #1a4783;
  color: white;
  min-height: 100px;
  padding-top: 16px;
}

.header__contato {
  padding-top: 23px;
}

@media(max-width:48.000em) {
  .header .pull-right {
    float: none!important;
  }
}

.header span {
  font-size: 0.875em;
  display: inline-block;
}

@media(min-width:27.625em) {
  .header span {
    float: right;
  }
}

.header .header_contato_tel {
  border: solid;
  border-radius: 3px;
  color: #41c4ec;
  float: none;
  font-size: 1.375em;
  margin-right: 20px;
  padding: 9px 16px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
  background-color: #00142f;
  color: white;
  min-height: 60px;
  padding-bottom: 23px;
  padding-top: 23px;
}

.footer span {
  color: #41c4ec;
}


/*--------------------------------------------------------------
# Comntent
--------------------------------------------------------------*/

.bg__azul {
  background: #1a4783 url('../img/bg.png') repeat;
  color: white;
  min-height: 82vh;
}

.title {
  color: white;
  font-size: 3.125em;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 89px;
}

.title span {
  color: #41c4ec;
}

.subtitulo {
  font-size: 1.250em;
}


/*--------------------------------------------------------------
# Cotação
--------------------------------------------------------------*/

.contacao__header {
  padding-bottom: 30px;
  padding-top: 50px;
}

.contacao__header p {
  font-size: 1.250em;
}

.contacao__header p span {
  color: #41c4ec;
}

@media(max-width:48.000em) {
  .contacao__header .btn-info {
    margin-top: 30px;
  }
}

@media(min-width:48.000em) {
  .contacao__header .btn-info {
    float: right;
  }
}

@media(max-width:62.000em) {
  .cotacoes {
    text-align: center;
  }
  .cotacoes>tbody>tr>td,
  .cotacoes tr {
    display: block;
  }
  .cotacoes tr {
    margin-bottom: 50px;
  }
}

.cotacoes {
  color: #41434c;
}

.cotacoes tr {
  border: solid thin #dbdbdc;
}

.cotacoes>tbody>tr>td {
  border: none;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  vertical-align: middle;
}

@media(min-width:62.000em) {
  .cotacoes>tbody>tr>td:first-child {
    width: 190px;
  }
  .cotacoes>tbody>tr>td {
    height: 135px;
  }
  .cotacoes>tbody>tr>td:after {
    border-right: dotted #e2e2e3;
    content: "";
    display: block;
    height: 90%;
    left: -5px;
    position: absolute;
    top: 8px;
  }
}

.cotacoes>tbody>tr>td:first-child:after {
  display: none;
}

.cotacoes .btn {
  display: block;
  margin-bottom: 10px;
}

.cotacoes h3 {
  color: #41434c;
  font-size: 1.250em;
  margin: 0;
}

.cotacoes h3.bronze {
  color: #d36f3b;
}

.cotacoes h3.prata {
  color: #cacccd;
}

.cotacoes h3.ouro {
  color: #e6c500;
}

.cotacoes h3 span {
  color: #82ca70;
  font-size: 26px;
}

.assistencias {
  list-style: none;
  margin: 0;
  padding: 0;
}

.assistencias li {
  display: inline-block;
  font-size: 1.0em;
  margin-bottom: 15px;
  margin-right: 10px;
}

@media(min-width:62.000em) {
  .assistencias li {
    margin-right: 0;
    width: calc(90%/2);
  }
}

.assistencias li i {
  color: #5bc0de;
  font-size: 1.7em;
  margin-right: 8px;
  vertical-align: middle;
}

.orcamento__info {
  border: solid thin #dbdbdc;
  border-radius: 5px;
  padding: 30px 40px;
}

.orcamento__info img {
  margin-right: 14px;
}

@media(max-width:37.188em) {
  .orcamento__info>div {
    margin-bottom: 30px;
    text-align: center;
  }
}

@media(min-width:37.188em) {
  .orcamento__info {
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}


/*--------------------------------------------------------------
## Coberturas
--------------------------------------------------------------*/

.coberturas {
  background-color: #1a4783;
  background-image: url('../img/coberturas.png');
  background-size: cover;
  min-height: 552px;
  padding-bottom: 70px;
  padding-top: 70px;
}

.coberturas h2 {
  color: white;
  font-size: 3.125em;
  margin: 0;
}

.coberturas .table {
  color: white;
  font-size: 1.250em;
  margin-top: 46px;
}

.coberturas .table img {
  margin-right: 15px;
}

.coberturas .table tr td:last-child p {
  color: #41c4ec;
  text-align: right;
}

.coberturas .table>tbody>tr>td {
  border-bottom: dotted #dbdbdc;
  border-top: none;
  vertical-align: middle;
}


/*--------------------------------------------------------------
## Assistencia
--------------------------------------------------------------*/

.assistencia__table {
  min-height: 592px;
  padding-bottom: 40px;
  padding-top: 40px;
}

@media(min-width:75.000em) {
  .assistencia__table {
    background-image: url('../img/casal.png');
    background-size: cover;
  }
}

.assistencia__table i {
  color: #41c4ec;
  font-size: 1.5em;
  margin-right: 15px;
  vertical-align: middle;
}

.assistencia__table h2 {
  color: #41434c;
  font-size: 3.125em;
  margin: 0;
}

.assistencia__table .table {
  color: #41434c;
  font-size: 1.250em;
  margin-top: 46px;
}

.assistencia__table .table>tbody>tr>td {
  border-bottom: dotted #dbdbdc;
  border-top: none;
  vertical-align: middle;
}

@media(max-width:48.000em) {
  .assistencia__table .table>tbody>tr>td {
    display: block;
  }
}


/*--------------------------------------------------------------
## Capemisa
--------------------------------------------------------------*/

.capemisa {
  background: #fd5a17;
  color: white;
  min-height: 422px;
  padding-bottom: 48px;
  padding-top: 48px;
}

.capemisa .table {
  margin-top: 55px;
}

.capemisa h2 {
  font-size: 2.500em;
  margin: 0;
}

.capemisa .table>tbody>tr>td {
  border-bottom: dotted #dbdbdc;
  border-top: none;
  vertical-align: middle;
}

@media(max-width:48.000em) {
  .capemisa .table>tbody>tr>td {
    display: block;
  }
}

.capemisa i {
  font-size: 1.5em;
  margin-right: 15px;
  vertical-align: middle;
}

.capemisa__box {
  border: dotted;
  border-radius: 5px;
  height: 220px;
  margin-top: 26px;
  padding: 25px 20px;
  width: 262px;
}


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Passo a Passo Form
--------------------------------------------------------------*/

.form__passo {
  margin-top: 100px;
}

.form__passo .control-label {
  font-size: 1.875em;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0;
  width: 100%;
}

.form__passo .form-control {
  border: none;
  border-bottom: solid 7px #12386a;
  font-size: 2.500em;
  height: 94px;
}

.form__passo .form-control:focus {
  box-shadow: none;
}

.form__passo .input-group-addon {
  background-color: #41c4ec;
  border: none;
  border-bottom: solid 7px #12386a;
}

.form__passo .input-group-addon:hover {
  opacity: 0.9;
}

.form__passo .input-group-addon button {
  background: transparent;
  border: none;
  color: #1a4783;
  font-size: 2.500em;
}

.form__passo .input-group-addon button:focus {
  outline: none;
}

.form__passo .help-block {
  color: white;
  font-size: 1.125em;
  margin-top: 30px;
}