<section class="bg__azul">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="title">Pagamento</h1>
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

        <form class="form__passo" name="formPasso" ng-hide="checkout.carregando" novalidate>

          <label class="control-label" for="nome">Nome completo do tituar</label>
          <div class="form-group">
            <input class="form-control input-lg" name="nome" ng-model="checkout.usuario.nome" type="text" required>
          </div>
          <!--input-group-->

          <label class="control-label" for="cpf">CPF do tituar</label>
          <div class="form-group">
            <input class="form-control input-lg" name="cpf" ng-model="checkout.usuario.cpf" type="text" required ui-br-phone-number>
          </div>
          <!--input-group-->

          <label class="control-label" for="email">E-mail</label>
          <div class="form-group">
            <input class="form-control input-lg" name="email" ng-model="checkout.usuario.email" type="text" required>
          </div>
          <!--input-group-->

          <label class="control-label" for="tel">Telefone</label>
          <div class="form-group">
            <input class="form-control input-lg" name="tel" ng-model="checkout.usuario.telefone" type="text" required ui-br-cep-mask>
          </div>
          <!--input-group-->

          <label class="control-label" for="cep">CEP</label>
          <div class="form-group">
            <input class="form-control input-lg" name="cep" ng-keyup="checkout.GetCep()" ng-model="checkout.usuario.cep" type="text"
              mask="99.999-999" required>
          </div>
          <!--input-group-->

          <label class="control-label" for="logradouro">Logradouro</label>
          <div class="form-group">
            <input class="form-control input-lg" name="logradouro" ng-model="checkout.usuario.logradouro" type="text" required>
          </div>
          <!--form-group-->

          <div class="row">
            <div class="col-sm-3">
              <label class="control-label" for="numero">Número</label>
              <div class="form-group">
                <input class="form-control input-lg" name="numero" ng-model="checkout.usuario.numero" type="text" required>
              </div>
              <!--form-group-->
            </div>
            <!-- col-sm-3 -->
            <div class="col-sm-9">
              <label class="control-label" for="complemento">Complemento</label>
              <div class="form-group">
                <input class="form-control input-lg" name="complemento" ng-model="checkout.usuario.complemento" type="text">
              </div>
              <!--form-group-->
            </div>
            <!-- col-sm-8 -->
          </div>
          <!-- row -->

          <label class="control-label" for="bairro">Bairro</label>
          <div class="form-group">
            <input class="form-control input-lg" name="bairro" ng-model="checkout.usuario.bairro" type="text" required>
          </div>
          <!--form-group-->

          <div class="row">
            <div class="col-sm-9">
              <label class="control-label" for="cidade">Cidade</label>
              <div class="form-group">
                <input class="form-control input-lg" name="cidade" ng-model="checkout.usuario.cidade" type="text" required>
              </div>
              <!--form-group-->
            </div>
            <!-- col-sm-9 -->

            <div class="col-sm-3">
              <label class="control-label" for="estado">Estado</label>
              <div class="form-group">
                <input class="form-control input-lg" name="estado" ng-model="checkout.usuario.estado" type="text" maxlength="2" required>
              </div>
              <!--form-group-->
            </div>
            <!-- col-sm-3 -->
          </div>
          <!-- row -->

          <label class="control-label" for="nomeCartao">Nome impresso no cartão</label>
          <div class="form-group">
            <input class="form-control input-lg" name="nomeCartao" ng-model="checkout.requisicao.creditCard.holder.name" type="text"
              style="text-transform: uppercase" required>
          </div>
          <!--input-group-->

          <label class="control-label" for="cartao">Número do cartão</label>
          <div class="form-group">
            <input class="form-control input-lg cartao" name="cartao" ng-keyup="checkout.GetBrand()" ng-maxlength="checkout.cartaoNumberMax"
              ng-model="checkout.cardDados.cardNumber" ng-style="checkout.imgBrand" type="text" required>
          </div>
          <!--input-group-->

          <p ng-if="checkout.cardDados.cardNumber.length > 8 && !checkout.hasBrand">Cartão inválido</p>

          <div class="row" ng-if="checkout.cardDados.cardNumber.length > 8 && checkout.hasBrand">
            <div class="col-sm-6">
              <label class="control-label" for="cidade">Data de expiração</label>
              <div class="form-group">
                <input class="form-control input-lg" name="cidade" ng-model="checkout.expericaoCartao" ui-date-mask="MM/YYYY" ng-required="checkout.validador.config.hasDueDate"
                  type="text">
              </div>
              <!--form-group-->
            </div>
            <!-- col-sm-9 -->

            <div class="col-sm-6">
              <label class="control-label" for="estado">Código de segurança</label>
              <div class="form-group">
                <input class="form-control input-lg" name="estado" ng-maxlength="checkout.validador.cvvSize" ng-model="checkout.usuario.cvv"
                  ng-required="checkout.validador.config.hasCvv" type="text">
              </div>
              <!--form-group-->
            </div>
            <!-- col-sm-3 -->
          </div>
          <!-- row -->
          <div class="form-group" style="margin-bottom: 50px;">
            <button class="btn btn-submit btn-success" ng-click="checkout.CreateCardToken()" type="submit">Finalizar <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 23px;"></i></button>
          </div>
          <style>
            .btn-submit {
              width: 100%;
              text-align: right;
              color: #1a4783;
              background: #41c4ec;
              font-size: 2.188em;
              font-weight: bold;
              text-transform: uppercase;
            }
          </style>

        </form>
        <div class="loader" ng-show="checkout.carregando"></div>
      </div>
      <!--col-sm-8 col-sm-offset-2-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--bg__azul-->

<style>
  .cartao {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 68px;
  }
</style>