<section class="container" id="topo" ng-hide="cotacao.carregando">
  <div class="row contacao__header">
    <div class="col-sm-8">
      <p> Aqui está a cotação para seu <strong ng-bind="$root.usuario.modelo"></strong> <br> Avaliado em <span>{{::$root.usuario.preco}}</span>        segundo a tabela FIPE</p>
    </div>
    <!--col-sm-8-->

    <div class="col-sm-4">
      <button class="btn btn-lg btn-info" data-target="#exampleModal" data-toggle="modal" data-whatever="@mdo" type="button"><i class="fa fa-envelope" aria-hidden="true"></i> Enviar Por E-mail</button>
    </div>
    <!--col-sm-4-->
  </div>
  <!--row-->

  <div class="row">
    <div class="col-xs-12">
      <table class="table cotacoes">
        <tr>
          <td>
            <h3><strong>Plano Básico</strong></h3>
          </td>
          <td>
            <ul class="assistencias">
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> 13 Assistências</li>
            </ul>
          </td>
          <td>
            <h3><strong>Mensalidade <br> <span>{{::cotacao.preco.basico }}</span></strong></h3>
          </td>
          <td>
            <a class="btn btn-success" data-target=".bs-example-modal-lg" data-toggle="modal" ng-click="cotacao.planoEscolhido = 'basico'"
              title="Contratar">Contratar</a>
            <a class="btn btn-default" ng-click="main.Scroll('informacoes')" title="Mais informações">Mais informações</a>
          </td>
        </tr>

        <tr>
          <td>
            <h3 class="bronze"><strong>Plano Bronze</strong></h3>
          </td>
          <td>
            <ul class="assistencias">
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> 13 Assistências</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> 6 Coberturas</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> 300 Km Reboque</li>
            </ul>
          </td>
          <td>
            <h3><strong>Mensalidade <br> <span>{{::cotacao.preco.bronze | currency : 'R$ '}}</span></strong></h3>
          </td>
          <td>
            <a class="btn btn-success" data-target=".bs-example-modal-lg" data-toggle="modal" ng-click="cotacao.planoEscolhido = 'bronze'"
              title="Contratar">Contratar</a>
            <a class="btn btn-default" ng-click="main.Scroll('informacoes')" title="Mais informações">Mais informações</a>
          </td>
        </tr>
        <tr>
          <td>
            <h3 class="prata"><strong>Plano Prata</strong></h3>
          </td>
          <td>
            <ul class="assistencias">
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> 13 Assistências</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> 6 Coberturas</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> 1000 Km Reboque</li>
            </ul>
          </td>
          <td>
            <h3><strong>Mensalidade <br> <span>{{::cotacao.preco.prata | currency : 'R$ '}}</span></strong></h3>
          </td>
          <td>
            <a class="btn btn-success" data-target=".bs-example-modal-lg" data-toggle="modal" ng-click="cotacao.planoEscolhido = 'prata'"
              title="Contratar">Contratar</a>
            <a class="btn btn-default" ng-click="main.Scroll('informacoes')" title="Mais informações">Mais informações</a>
          </td>
        </tr>

        <tr>
          <td>
            <h3 class="ouro"><strong>Plano Ouro</strong></h3>
          </td>
          <td>
            <ul class="assistencias">
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> 13 Assistências</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> 6 Coberturas</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> 1.000 Km Reboque</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> 7 dias de carro reserva</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i> Faróis, lanternas, vidros e retrovisores</li>
            </ul>
          </td>
          <td>
            <h3><strong>Mensalidade <br> <span>{{::cotacao.preco.ouro | currency : 'R$ '}}</span></strong></h3>
          </td>
          <td>
            <a class="btn btn-success" data-target=".bs-example-modal-lg" data-toggle="modal" ng-click="cotacao.planoEscolhido = 'ouro'"
              title="Contratar">Contratar</a>
            <a class="btn btn-default" ng-click="main.Scroll('informacoes')" title="Mais informações">Mais informações</a>
          </td>
        </tr>
      </table>
    </div>
    <!--col-xs-12-->
  </div>
  <!--row-->

  <div class="row">
    <div class="col-xs-12">
      <div class="orcamento__info">
        <div>
          <img ng-src="{{::main.directory}}img/coin.png" alt=" icone" aria-hidden="true"> Adesão: <strong>{{cotacao.adesao | currency : 'R$ '}}</strong>
        </div>
        <div>
          <img ng-src="{{::main.directory}}img/car.png" alt=" icone" aria-hidden="true"> Franquia: <strong>{{cotacao.franquia}}</strong>
        </div>
        <div ng-show="cotacao.hasRastreador">
          <img ng-src="{{::main.directory}}img/rss.png" alt=" icone" aria-hidden="true"> <strong>Rastreador</strong>
        </div>
      </div>
      <!--orcamento__info-->
    </div>
    <!--col-xs-12-->
  </div>
  <!--row-->

  <div class="row hidden-xs" style="margin-bottom: 60px;margin-top: 60px;">
    <div class="col-xs-12 text-center">
      <p>Veja todas as <strong> 6 </strong> coberturas <a ng-click="main.Scroll('informacoes')" style="cursor: pointer;"><img class="img-responsive" ng-src="{{::main.directory}}img/boutton_down.png" alt="icone" aria-hidden="true" style="margin: 0 30px;display: inline-block;"></a>Veja
        todas as <strong> 13</strong> assistências</p>
    </div>
    <!--col-xs-12-->
  </div>
  <!--row-->

</section>
<!--container-->

<section ng-show="cotacao.carregando" style="margin-bottom: 100px;">
  <div class="loader"></div>
</section>

<section class="coberturas" id="informacoes">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="text-uppercase"><strong>6 Coberturas</strong></h2>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td>
                <p><img ng-src="{{::main.directory}}img/colisoes.png" alt="icone"> Colisões
                </p>
              </td>
              <td>
                <p>
                  Indenização de 100% da tabela FIPE
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><img ng-src="{{::main.directory}}img/perda_total.png" alt="icone">Perda total</p>
              </td>
              <td>
                <p>
                  Indenização de 100% da tabela FIPE
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><img ng-src="{{::main.directory}}img/roubo.png" alt="icone">Roubo e furto</p>
              </td>
              <td>
                <p>
                  Indenização de 100% da tabela FIPE
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><img ng-src="{{::main.directory}}img/incendio.png" alt="icone">Incêndio</p>
              </td>
              <td>
                <p>
                  Indenização de 100% da tabela FIPE
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><img ng-src="{{::main.directory}}img/alagamento.png" alt="icone">Alagamento e eventos da natureza </p>
              </td>
              <td>
                <p>
                  Indenização de 100% da tabela FIPE
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><img ng-src="{{::main.directory}}img/danos.png" alt="icone">Danos corporais a terceiros</p>
              </td>
              <td>
                <p>
                  R$ 30.000,00
                </p>
              </td>
            </tr>

          </table>
        </div>
        <!--table-responsive-->
      </div>
      <!--col-md-8-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--coberturas-->

<section class="assistencia__table">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="text-uppercase"><strong>13 assistências</strong></h2>

        <table class="table">
          <tr>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Assistência 24 horas </p>
            </td>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> 300 km de reboque </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Atendimento em todo Brasil </p>
            </td>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Pane elétrica e mecânica </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Auxílio combustível </p>
            </td>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Chaveiro auto </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Troca de pneus furados </p>
            </td>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Taxi / Uber </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Hospedagem em hotel </p>
            </td>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Guarda do veículo acidentado </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Lavagem e higienização </p>
            </td>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Serviço de leva e traz </p>
            </td>
          </tr>
          <tr>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Despachantes <small>(acidente, furto ou roubo)</small>                </p>
            </td>

          </tr>
        </table>

      </div>
      <!--col-md-8-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--assistencia__table-->

<section class="capemisa">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="text-capitalize"><strong>contrate agora e ganhe mais 8 Bônus</strong></h2>

        <table class="table">
          <tr>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Sorteio mensal <strong>R$10.000</strong></p>
            </td>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Assistência funeral <strong>R$ 3.500</strong></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Morte acidental <strong>R$10.000</strong></p>
            </td>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Assistência Eletroassist</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Invalidez <strong>R$10.000</strong></p>
            </td>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Desconto em Medicamentos</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Auxilio alimentação <strong>R$1.800</strong></p>
            </td>
            <td>
              <p><i class="fa fa-check-circle" aria-hidden="true"></i> Serviços Flex</p>
            </td>
          </tr>
        </table>

      </div>
      <!--col-md-8-->

      <div class="col-md-4 col-lg-3 col-lg-offset-1">
        <a href="http://www.capemisa.com.br/" title="Capemisa" target="_blank" rel="external">
          <img ng-src="{{::main.directory}}img/capemisa.png" alt="Capemisa">
        </a>

        <div class="capemisa__box">
          <p class="text-uppercase">CAPEMISA Seguradora de vida e previdência S/A</p>
          <p>
            <strong>CNPJ</strong> <br> 08.602.745/0001-32
          </p>
          <p>
            <strong>SUSEP</strong> <br> Nº 15414.001215.20108-19
          </p>
        </div>
        <!--capemisa__box-->
      </div>
      <!--col-md-4-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--capemisa-->

<section class="container chamada" style="padding-top: 90px;padding-bottom: 90px;">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3 style="color:#41434c">Contrate agora a proteção do seu veículo</h3>

      <a class="btn btn-success text-uppercase" ng-click="main.Scroll('topo')" title="sim! quero proteger meu veículo" style="font-size:2.000em; display:block;margin: 20px auto;max-width: 752px;"
        rel="button"><strong>sim! quero proteger meu veículo</strong></a>

      <img class ng-src="{{::main.directory}}img/bandeiras.png" alt="bandeiras">
    </div>
    <!--col-xs-12-->
  </div>
  <!--row-->
</section>
<!--container-->

<div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Enviar Cotação</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="control-label" for="recipient-email">E-mail:</label>
            <input class="form-control" id="recipient-email" name="email" ng-model="cotacao.email" type="email">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">Fechar</button>
        <button class="btn btn-primary" ng-disabled="cotacao.email" type="button">Enviar</button>
      </div>
    </div>
  </div>
</div>

<div ng-include="cotacao.opcionaisPopup"></div>