<section class="bg__azul">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form class="form__passo" name="formPasso" ng-hide="placa.carregando">

          <div class="animate-switch-container form-group" ng-switch on="placa.fipePasso">

            <div class="animate-switch" ng-switch-when="passo1">
              <div ng-include="placa.caminho1"></div>
            </div>
            <!--passo1-->

            <div class="animate-switch" ng-switch-when="passo2">
              <div ng-include="placa.caminho2"></div>
            </div>
            <!--passo2-->

            <div class="animate-switch" ng-switch-when="passo3">
              <div ng-include="placa.caminho3"></div>
            </div>
            <!--passo3-->

            <div class="animate-switch" ng-switch-when="passo4">
              <div ng-include="placa.caminho4"></div>
            </div>
            <!--passo4-->
          </div>
          <!--form-group-->
        </form>
        <div class="loader" ng-show="placa.carregando"></div>
      </div>
      <!--col-sm-8 col-sm-offset-2-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--bg__azul-->