<div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="padding: 40px 70px;">
      <h2 style="color: #747a80;font-size: 1.250em;margin: 0;">Você selecionou o plano abaixo.</h2>
      <h1 style="color: #747a80;font-size: 1.813em;"><strong>Agora você gostaria de turbinar sua proteção?</strong></h1>
      <table class="table cotacoes">
        <tr ng-if="cotacao.planoEscolhido == 'basico'">
          <td>
            <h3><strong>Plano Básico</strong></h3>
          </td>
          <td>
            <h3><strong>Mensalidade <br> <span>{{::cotacao.preco.basico }}</span></strong></h3>
          </td>
          <td>
            <h3><strong>Taxa de adesão <br> <span>{{cotacao.preco.basico }}</span></strong></h3>
          </td>
        </tr>

        <tr ng-if="cotacao.planoEscolhido == 'bronze'">
          <td>
            <h3 class="bronze"><strong>Plano Bronze</strong></h3>
          </td>
          <td>
            <h3><strong>Mensalidade <br> <span>{{::cotacao.preco.bronze | currency : 'R$ '}}</span></strong></h3>
          </td>
          <td>
            <h3><strong>Taxa de adesão <br> <span>{{cotacao.preco.bronze | currency : 'R$ '}}</span></strong></h3>
          </td>
        </tr>

        <tr ng-if="cotacao.planoEscolhido == 'prata'">
          <td>
            <h3 class="prata"><strong>Plano Prata</strong></h3>
          </td>
          <td>
            <h3><strong>Mensalidade <br> <span>{{::cotacao.preco.prata | currency : 'R$ '}}</span></strong></h3>
          </td>
          <td>
            <h3><strong>Taxa de adesão <br> <span>{{cotacao.preco.prata | currency : 'R$ '}}</span></strong></h3>
          </td>
        </tr>

        <tr ng-if="cotacao.planoEscolhido == 'ouro'">
          <td>
            <h3 class="ouro"><strong>Plano Ouro</strong></h3>
          </td>
          <td>
            <h3><strong>Mensalidade <br> <span>{{::cotacao.preco.ouro | currency : 'R$ '}}</span></strong></h3>
          </td>
          <td>
            <h3><strong>Taxa de adesão <br> <span>{{cotacao.preco.ouro | currency : 'R$ '}}</span></strong></h3>
          </td>
        </tr>
      </table>

      <table class="table" ng-if="$root.usuario.veiculo === 'AUTOMOVEL'">
        <tr ng-hide="cotacao.planoEscolhido == 'ouro'">
          <td>
            <div class="checkbox">
              <label>
                <input ng-checked="cotacao.opcionais.carroReserva == 7" ng-click="cotacao.opcionais.carroReserva = 7" ng-model="cotacao.opcionais.carroReserva" type="checkbox"> Carro reserva 7 dias
              </label>
            </div>
          </td>
          <td>
            R$ 11,00
          </td>
        </tr>
        <tr>
          <td>
            <div class="checkbox">
              <label>
                <input ng-checked="cotacao.opcionais.carroReserva == 15" ng-click="cotacao.opcionais.carroReserva = 15" ng-model="cotacao.opcionais.carroReserva" type="checkbox"> Carro reserva 15 dias
              </label>
            </div>
          </td>
          <td>
            R$ 15,00
          </td>
        </tr>
        <tr>
          <td>
            <div class="checkbox">
              <label>
                <input ng-checked="cotacao.opcionais.carroReserva == 30" ng-click="cotacao.opcionais.carroReserva = 30" ng-model="cotacao.opcionais.carroReserva" type="checkbox"> Carro reserva 30 dias
              </label>
            </div>
          </td>
          <td>
            R$ 20,00
          </td>
        </tr>
        <tr ng-hide="cotacao.hasRastreador">
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="cotacao.opcionais.rastredor"> Rastreador e Bloqueador
              </label>
            </div>
          </td>
          <td>
            R$ 75,00
          </td>
        </tr>
        <tr ng-hide="cotacao.planoEscolhido == 'prata' || cotacao.planoEscolhido == 'ouro'">
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="cotacao.opcionais.reboque"> Reboque 1000Km
              </label>
            </div>
          </td>
          <td>
            R$ 11,90
          </td>
        </tr>
        <tr ng-hide="cotacao.planoEscolhido == 'ouro'">
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="cotacao.opcionais.vidros" ng-value="{{cotacao.valorFipe <= 50000 ? '11.00' : 
                                                                                        (cotacao.valorFipe > 50000 && cotacao.valorFipe <= 75000 ? '15.00'  : 
                                                                                        (cotacao.valorFipe > 75000 && cotacao.valorFipe <= 100000 ? '18.00' :
                                                                                        (cotacao.valorFipe > 100000 ? '25.00' : '0.0')))}}"> 
                                                                                        Vidros faróis retrovisores
              </label>
            </div>
          </td>
          <td>
            <span ng-if="cotacao.valorFipe <= 50000">R$ 11,00</span>
            <span ng-if="cotacao.valorFipe > 50000 && cotacao.valorFipe <= 75000">R$ 15,00</span>
            <span ng-if="cotacao.valorFipe > 75000 && cotacao.valorFipe <= 100000">R$ 18,00</span>
            <span ng-if="cotacao.valorFipe > 100000">R$ 25,00</span>
          </td>
        </tr>
      </table>

      <table class="table" ng-if="$root.usuario.veiculo === 'AUTOMOVEL'">
        <tr ng-hide="cotacao.planoEscolhido == 'ouro'">
          <td>
            <div class="checkbox">
              <label>
                <input ng-checked="cotacao.opcionais.carroReserva == 7" ng-click="cotacao.opcionais.carroReserva = 7" ng-model="cotacao.opcionais.carroReserva" type="checkbox"> Carro reserva 7 dias
              </label>
            </div>
          </td>
          <td>
            R$ 11,00
          </td>
        </tr>
        <tr>
          <td>
            <div class="checkbox">
              <label>
                <input ng-checked="cotacao.opcionais.carroReserva == 15" ng-click="cotacao.opcionais.carroReserva = 15" ng-model="cotacao.opcionais.carroReserva" type="checkbox"> Carro reserva 15 dias
              </label>
            </div>
          </td>
          <td>
            R$ 15,00
          </td>
        </tr>
        <tr>
          <td>
            <div class="checkbox">
              <label>
                <input ng-checked="cotacao.opcionais.carroReserva == 30" ng-click="cotacao.opcionais.carroReserva = 30" ng-model="cotacao.opcionais.carroReserva" type="checkbox"> Carro reserva 30 dias
              </label>
            </div>
          </td>
          <td>
            R$ 20,00
          </td>
        </tr>
        <tr ng-hide="cotacao.hasRastreador">
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="cotacao.opcionais.rastredor"> Rastreador e Bloqueador
              </label>
            </div>
          </td>
          <td>
            R$ 75,00
          </td>
        </tr>
        <tr ng-hide="cotacao.planoEscolhido == 'prata' || cotacao.planoEscolhido == 'ouro'">
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="cotacao.opcionais.reboque"> Reboque 1000Km
              </label>
            </div>
          </td>
          <td>
            R$ 11,90
          </td>
        </tr>
        <tr ng-hide="cotacao.planoEscolhido == 'ouro'">
          <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="cotacao.opcionais.vidros" ng-value="{{cotacao.valorFipe <= 50000 ? '11.00' : 
                                                                                        (cotacao.valorFipe > 50000 && cotacao.valorFipe <= 75000 ? '15.00'  : 
                                                                                        (cotacao.valorFipe > 75000 && cotacao.valorFipe <= 100000 ? '18.00' :
                                                                                        (cotacao.valorFipe > 100000 ? '25.00' : '0.0')))}}"> 
                                                                                        Vidros faróis retrovisores
              </label>
            </div>
          </td>
          <td>
            <span ng-if="cotacao.valorFipe <= 50000">R$ 11,00</span>
            <span ng-if="cotacao.valorFipe > 50000 && cotacao.valorFipe <= 75000">R$ 15,00</span>
            <span ng-if="cotacao.valorFipe > 75000 && cotacao.valorFipe <= 100000">R$ 18,00</span>
            <span ng-if="cotacao.valorFipe > 100000">R$ 25,00</span>
          </td>
        </tr>
      </table>

      <button type="button" class="btn btn-success btn-lg btn-block">Contratar agora</button>
    </div>
    <!-- modal-content -->
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->