<label class="control-label text-center" for="placa">
  <span>Qual é o ano?</span>
</label>
<div class="input-group">
  <select class="form-control input-lg" name="modelo" ng-model="main.anoEscolhido">
    <option value="">Selecione um ano</option> <!-- not selected / blank option -->
    <option ng-repeat="item in main.listaAnos | orderBy: 'nome'" value="{{item.codigo}}" required>{{item.nome}}</option> 
  </select>

  <div class="input-group-addon">
    <button ng-click="main.GetPreco()" ng-disabled="!main.anoEscolhido" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  </div>
  <!--input-group-addon-->
</div>
<!--input-group-->