<div class="container">
  <section class="row" style="padding-top:24px;margin-bottom:30px">
    <div class="col-xs-12">
      <p>Confirme seu plano e assine o contrato digital.
        <br> Uma cópia será enviada para seu email após o pagamento da adesão.</p>
    </div>
    <!-- col-xs-12 -->
  </section>
  <!-- row -->

  <section class="row">
    <div class="col-xs-12">
      <table class="table cotacoes">
        <tr ng-if="$root.usuario.plano == 'basico'">
          <td>
            <h3>
              <strong>Plano Básico</strong>
            </h3>
          </td>
          <td>
            <h3>
              <strong>Mensalidade
                <br>
                <span>{{::$root.usuario.valorPlano | currency : 'R$ ' }}</span>
              </strong>
            </h3>
          </td>
          <td>
            <h3>
              <strong>Taxa de adesão
                <br>
                <span>{{::$root.usuario.vlorAdesao | currency : 'R$ ' }}</span>
              </strong>
            </h3>
          </td>
        </tr>

        <tr ng-if="$root.usuario.plano == 'bronze'">
          <td>
            <h3 class="bronze">
              <strong>Plano Bronze</strong>
            </h3>
          </td>
          <td>
            <h3>
              <strong>Mensalidade
                <br>
                <span>{{::$root.usuario.valorPlano | currency : 'R$ '}}</span>
              </strong>
            </h3>
          </td>
          <td>
            <h3>
              <strong>Taxa de adesão
                <br>
                <span>{{::$root.usuario.vlorAdesao | currency : 'R$ '}}</span>
              </strong>
            </h3>
          </td>
        </tr>

        <tr ng-if="$root.usuario.plano == 'prata'">
          <td>
            <h3 class="prata">
              <strong>Plano Prata</strong>
            </h3>
          </td>
          <td>
            <h3>
              <strong>Mensalidade
                <br>
                <span>{{::$root.usuario.valorPlano | currency : 'R$ '}}</span>
              </strong>
            </h3>
          </td>
          <td>
            <h3>
              <strong>Taxa de adesão
                <br>
                <span>{{::$root.usuario.vlorAdesao | currency : 'R$ '}}</span>
              </strong>
            </h3>
          </td>
        </tr>

        <tr ng-if="$root.usuario.plano == 'ouro'">
          <td>
            <h3 class="ouro">
              <strong>Plano Ouro</strong>
            </h3>
          </td>
          <td>
            <h3>
              <strong>Mensalidade
                <br>
                <span>{{::$root.usuario.valorPlano | currency : 'R$ '}}</span>
              </strong>
            </h3>
          </td>
          <td>
            <h3>
              <strong>Taxa de adesão
                <br>
                <span>{{::$root.usuario.vlorAdesao | currency : 'R$ '}}</span>
              </strong>
            </h3>
          </td>
        </tr>
      </table>
    </div>
  </section>

  <section class="row">
    <div class="col-xs-12">
      <div style="padding: 10px;height: 578px;overflow-y: scroll;border: solid thin #dbdbdc;margin-bottom: 64px;">
        <p>A qualidade de Associado do SISTEMA NACIONAL DE PROTEÇÃO DE PESSOAS - SINAPPE, possuidora dos direitos de propriedade
          industrial consubstanciado na marca figurativa COOPERLINK BRASIL, junto ao Instituto Nacional de Propriedade Industrial,
          através do pedido de registro nº 913422711, declaro para os devidos fins e direitos o que segue:
        </p>
        <p> 01 - Associei-me à SINAPPE, por livre e espontânea vontade, concordando com os objetivos e normas do ASSOCIADO, recebendo
          neste ato o REGULAMENTO DO ASSOCIADO, parte integrande desse contrato, declaro ainda que li e entendi o aludido
          REGULAMENTO, anuindo expressamente as suas condições comprometendo-me a cumprir fielmente sob pena de arcar com
          as penalidades ali contidas.</p>
        <p> 02 - É de minha vontade aderir ao plano de benefício da COOPERLINK BRASIL conferindo proteção ao(s) veículos de minha
          propriedade ou responsabilidade, conforme documento de adesão e laudo de vistoria.</p>
        <p> 03 - Estou ciente da participação econômica que será cobrada mensalmente, conforme apurado pelo SINAPPE, concordando
          expressamente com os valores a serem pagos a título de rateio e demais taxas, ciente que esta poderá ser reajustada
          anualmente de acordo com as necessidades do clube de benefícios.</p>
        <p> 04 - Estou ciente que o pagamento será realizado mensalmente, conforme acima destacado, não sendo admitido qualquer
          atraso ou tolerância para quitação, sob pena de perda imediata da proteção. O não recebimento do boleto não justifica
          a inadimplência, caso não o receba, entrar em contato com a COOPERLINK BRASIL, através do telefone 0800 941 5001
          ou retirar o boleto através do site www.cooperliink.com.br e quita-lo na sua efetiva data de vencimento.</p>
        <p> 05- Declaro que o veículo cadastrado por mim não possui nenhuma restrição quanto a furto ou roubo perante aos Órgãos
          de Trânsito e Policiais, bem como não existe qualquer restrição de trafegabilidade contida no Código Brasileiro
          de Trânsito.</p>
        <p> 06 - Estou ciente que, caso a avaliação de acordo com a tabela FIPE do meu veículo seja de valor superior a R$ 15.000,00
          (Quinze mil reais), no caso de moto seja de valor superior a R$ 7.000,00 (Sete mil reais) da obrigatoriedade da
          imediata instalação do rastreador, sob regime de comodato (empréstimo), em local previamente indicado pela COOPERLINK
          BRASIL, sob pena de não aceitação de minha proposta de adesão, com a consequente perda imediata da proteção por
          furto e roubo.</p>
        <p> 07 - Comprometo-me também, em caso de desligamento da ASSOCIAÇÃO, da necessidade de desinstalar o rastreador, arcando
          com os custos da desinstalação e a devolve-lo imediatamente a COOPERLINK BRASIL, sob pena de multa no valor correspondente
          a 3 (três) vezes o valor da primeira participação e respectiva denuncia aos sistemas de proteção ao crédito.</p>
        <p> 08 - Concordo em fazer uso responsável dos serviços e benefícios pela COOPERLINK BRASIL, zelando pela imagem da ASSOCIAÇÃO
          e seus ASSOCIADOS.
        </p>
        <p> 09 - O prazo de vigência do presente contrato é de 12 (doze) meses a partir da data de sua assinatura, podendo ser
          renovado por igual período e rescindido a qualquer tempo por infração comprovada de suas cláusulas e condições.</p>
        <p> 10 - Estou ciente que devo permanecer associado por no mínimo 03 (três) meses após a minha adesão, sob pena de pagar
          multa de 03 (três) vezes o valor da primeira participação e respectiva denuncia aos sistemas de proteção ao crédito.</p>
        <p> 11 - Comprometo ainda a atualizar os dados pessoais na hipótese de qualquer alteração que ocorrer.</p>
        <p>12 - Estou ciente que a COOPERLINK BRASIL se resguarda do direito de me excluir como Associado, em caso de falta
          grave, nas condições no Regulamento do Associado e no Estatuto da ASSOCIAÇÃO, mediante notificação por escrito
          a ser enviada pelo EBCT.</p>
      </div>
    </div>
  </section>

  <section class="row" style="margin-bottom:80px;">
    <form action="">
      <div class="col-xs-12">
        <div class="checkbox" style="display: inline-block;">
          <label>
            <input ng-model="$scope.aceitar" type="checkbox" required> Li e concordo com o contrato.
          </label>
        </div>
        <button class="btn btn-success pull-right" ng-click="contrato.Contratar()" ng-disabled="!$scope.aceitar" style="font-size: 1.250em;width: 233px;">Contratar</button>
      </div>
    </form>
  </section>
</div>
<!-- container -->