<label class="control-label text-center" for="placa">
  <span>Qual é o seu veículo?</span> 
</label>
<p class="text-center">
  <button class="btn btn-primary btn-lg" ng-click="placa.veiculo = 'carros'; placa.fipePasso = 'passo2'" type="button" style="background-color:#41c4ec">Carro</button>
  <button class="btn btn-primary btn-lg" ng-click="placa.veiculo = 'motos'; placa.fipePasso = 'passo2'" type="button" style="background-color:#41c4ec">Moto</button>
  <div class="checkbox">
    <label class="center-block text-center">
      <input ng-model="placa.isUber" type="checkbox"> Taxi?
    </label>
  </div>
</p>