<label class="control-label text-center" for="placa">
  <span>Qual é o modelo?</span>
</label>
<div class="input-group">
  <select class="form-control input-lg" name="modelo" ng-model="placa.modeloEscolhido">
    <option value="">Selecione um modelo</option> <!-- not selected / blank option -->
    <option ng-repeat="item in placa.listaModelos | orderBy: 'nome' track by $index " value="{{::item.codigo}}" required>{{::item.nome}}</option> 
  </select>

  <div class="input-group-addon">
    <button ng-click="placa.GetAnos()" ng-disabled="!placa.modeloEscolhido" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  </div>
  <!--input-group-addon-->
</div>
<!--input-group-->